/* Desktop Styles */
@media(min-width: 1024px) {
    main {
        width: 736px;
    }

    h1 {
        font-size: 40px;
        text-shadow: 2px 3px 4px #8e8e8e;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }
}